<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="headerContainer">
            <div class="logo-container">
                <img class="logoMercadoLiebre" src="/images/logo-mercado-liebre.svg" alt="Logo de mercado liebre">
            </div>
            <div class="container-search">
                <input class="input-search" type="search" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass iconSearch"></i>
            </div>
            <div class="center-content text-buy">
                <div class="">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <p class="convert-to-inline-block">Compra en cuotas y sin tarjeta de credito</p>
                </div>
            </div>
            <div class="menu">
                <ul class="ul-left">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="ul-rigth">
                    <li><a href="/register">Crea tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                    <li><a href="/login">Ingresa</a><i class="fa-sharp fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars burguer-format"></i>
            </div>
        </div>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="">
        </div>
    </header>
    <main>
        <section> <p class="titulares">Basado en tu última visita</p>
            <article>
                <img class="imageProduct" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="container-details">
                    <i class="fa-solid fa-truck icon-truck"></i>
                    <div class="product-detail">
                        <p class="price">$6.770</p>
                        <p class="discount-descrption">40% off</p>
                        <p class="product-tittle">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article>
                <img class="imageProduct" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="container-details">
                    <i class="fa-solid fa-truck icon-truck"></i>
                    <div class="product-detail">
                        <p class="price">$230.000</p>
                        <p class="discount-descrption">20% off</p>
                        <p class="product-tittle">MacBook Pro</p>
                    </div>
                </div>
            </article>
            <article>
                <img class="imageProduct" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <div class="container-details">
                    <i class="fa-solid fa-truck icon-truck"></i>
                    <div class="product-detail">
                        <p class="price">$70.500</p>
                        <p class="discount-descrption">10% off</p>
                        <p class="product-tittle">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article>
                <img class="imageProduct" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="container-details">
                    <i class="fa-solid fa-truck icon-truck"></i>
                    <div class="product-detail">
                        <p class="price">$23.200</p>
                        <p class="discount-descrption">5% off</p>
                        <p class="product-tittle">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>
        </section>
        <section> <p class="titulares">Ofertas</p>
            <article>
                <img class="imageProduct" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="container-details">
                    <i class="fa-solid fa-truck icon-truck"></i>
                    <div class="product-detail">
                        <p class="price">$6.770</p>
                        <p class="discount-descrption">40% off</p>
                        <p class="product-tittle">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article>
                <img class="imageProduct" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="container-details">
                    <i class="fa-solid fa-truck icon-truck"></i>
                    <div class="product-detail">
                        <div class="price">$230.000</div>
                        <p class="discount-descrption">20% off</p>
                        <p class="product-tittle">MacBook Pro</p>
                    </div>
                </div>
            </article>
            <article>
                <img class="imageProduct" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <div class="container-details">
                    <i class="fa-solid fa-truck icon-truck"></i>
                    <div class="product-detail">
                        <p class="price">$70.500</p>
                        <p class="discount-descrption">10% off</p>
                        <p class="product-tittle">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article>
                <img class="imageProduct" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="container-details">
                    <i class="fa-solid fa-truck icon-truck"></i>
                    <div class="product-detail">
                        <p class="price">$23.200</p>
                        <p class="discount-descrption">5% off</p>
                        <p class="product-tittle">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="to-flex center-content cards">
            <i class="fa-solid fa-credit-card fa-custom-format"></i>
            <p>
                <b>Pagá con tarjeta o en efectivo</b><br>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section class="to-flex center-content cards">
            <i class="fa-solid fa-gift fa-custom-format"></i>
            <p>
                <b>Envío gratis desde $ 2.500</b> <br>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="to-flex center-content cards">
            <i class="fa-solid fa-user-shield fa-custom-format"></i>
            <p>
                <b>Seguridad, de principio a fin</b> <br>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </section>
        <section class="to-flex cards">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </section>
    </footer>
</body>
</html>