/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* font-family: 'Roboto', sans-serif; */

/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: #666;
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* font-size: 12px; */
}

header {
    color: black;
    width: 100%;
}

main {
    width: 90vw;
    text-align: start;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    bannerckground-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
} */

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: start;
    margin-bottom: 10px;
    background-color: white;
}

article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li {
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li i {
    margin-left: 5px;
}

.logoMercadoLiebre {
    max-width:150px;
    height:auto
}

.logo-container {
    width: 50%;
    height:auto
}

.container-search {
    width: 50%;
    background-color: white;
    border: solid 1px black;
    border-radius: 15px;
    height: 24px;
}

.input-search {
    padding-left: 5px;
    width: 80%;
    border-radius: 15px;
    border: none;
    /* border-radius: 5px; */
}

.text-buy {
    width: 100%;
    font-size: 14px;
}

.imageProduct{
    width: 100%; 
    height:auto
}

.convert-to-block{
    display: block;
}

.convert-to-inline-block{
    display: inline-block;
}

.headerContainer {
    padding: 25px;
    background-color: #EAC926;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.iconSearch{
    font-size: 12px;
    /* margin-top: 2px;
    padding: 1px; */
}

.center-content {
    text-align: center;
}

.to-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu {
    display: none;
    /* margin-top: 15px; */
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.ul-left {
    margin-top: 15px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

/* .ul-left li {
    margin-right: 5px;
} */

.ul-rigth {
    margin-top: 15px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.ul-rigth li {
    margin-left: 5px;
}

.burger-menu {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.burguer-format {
    color: white;
    background-color: #1259c3;
    border-radius: 3px;
    padding: 10px;
}

.fa-custom-format {
    color: #1259c3;
    font-size: 2em;
    width: 100%;
}

.banner img{
    width: 100%;
}

.titulares {
    font-size: 24px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.icon-truck {
    display: block;
    color: green;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 90%;
    top: -30px;
    transition: 1s;
}

.icon-truck:hover{
    transform: rotateZ(-90deg);
}

.container-details {
    width: 100%;
    padding: 15px;
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.product-detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.price {
    font-size: 18px;
}

.discount-descrption {
    font-size: 16px;
    margin-left: 5px;
    color: green;
}

.product-tittle{
    display: none;
    width: 100%;
    margin-top: 10px;
}

.container-login {
    text-align: center;
    justify-content: center;
}

.cards {
    width: 100%;
    margin-top: 25px;
}

form {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}

form div {
    width: 100%;
    margin: 15px;
}

.btn-ml {
    background-color: #39b54a;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    border: none;
}

.btn-ml:hover {
    background-color: #0022AA;
}

.input-format {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}


@media (min-width: 361px) {
    article {
        width: 45%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .logo-container {
        width: 30%;
    }
    
    

    .cards { 
        width: 30%;
    }

    .icon-truck {
        left: 85%;
    }

    .product-tittle {
        display: contents;
    }
}


@media (min-width: 769px) {
    article {
        width: 20%;
    }

    .menu {
        display: contents;
        padding-top: 50px;
    }

    .burger-menu {
        display: none;
    }

    .icon-truck {
        left: 85%;
    }

    .container-search {
        width: 20%;
    }

    .text-buy {
        width: 40%;
    }

    
}